body{
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: cover;
}
.box{
    width: 250px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 40%;
    color: white;
}
.box-img{
    border-radius: 50%;
    width:100px;
    height: 100px;
}
