body{
    margin: 0;
    padding: 0;
    background: url(1654142269136.jpg);
    background-size: cover;
}
.box{
    width: 800px;
    height: 800px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 40%;
    color: white;
}
.box-img{
    border-radius: 50%;
    width:300px;
    height: 300px;
}
h1{
    font-size: 80px;
}
h5{
    font-size: 40px;
}
p{
    font-size: 40px;
}